<div class="home">
  <div class="personal-info">
    <div class="info-continer" *ngFor="let info of personalInfo">
      <mat-icon color="accent">{{info.icon}}</mat-icon>
      <div class="title" color="accent">{{info.title}}:</div>
      <div class="info">{{info.info}}</div>
    </div>
  </div>
  <div class="additional-data">
    <div class="additional-data-title">עוד קצת עלי</div>
    <p>
      תוכניתנית Full Stack בכירה (C#, Angular) בעלת תואר ראשון B.Sc במדעי המחשב.
      <br>
      בעלת נסיון של 10 שנות פיתוח מערכות Net. ו-COBOL.
      <br>
      אחראית, רצינית, מובילת משימה end-to-end, בעלת ראש גדול.
      <br>
      אוהבת אתגרי חשיבה ובעלת יכולת לימוד עצמי.
      <br>
      בעלת יכולת עבודה בצוות.

    </p>
  </div>
</div>

