.navigation-header {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding-left: 5px;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}
mat-icon{
  margin-left: 5px ;
}
@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
